include head
    body
        section
            include navegador
            include puntos-tapcoin

        section(class='col-sm-5 plr-0')
            div(class='bg-viaje')
        section(class='col-sm-5')
            div
                h2 ¿No tienes movilidad o alojo?