include head
    body
        section
            include navegador
            include puntos-tapcoin

        section(class='col-sm-5 plr-0')
            div(class='bg-viaje')
        section(class='col-sm-6 bus-alojo')
            div
                h2(class='text-center') ¿No tienes movilidad o alojo?
                p(class='text-center') Nosotros te ayudamos a encontrar lo que necesitas
                form(action='')
                    input(list='place' name='places' placeholder="Elige Ciudad")
                    datalist(id='place')
                       option(value='Lugar 1')
                       option(value='Lugar 2')
                       option(value='Lugar 3')
                       option(value='Lugar 4')

                    input(list='category' name='category' placeholder="Elige Categoría" class='ml-6')
                    datalist(id='category')
                       option(value='Restaruantes')
                       option(value='Hoteles')
                       option(value='Ecolodge')
                       option(value='Tours')
                       option(value='Souvenirs')

                    input(list='place' name='places' placeholder="Elige Ciudad")
                    datalist(id='place')
                       option(value='Lugar 1')
                       option(value='Lugar 2')
                       option(value='Lugar 3')
                       option(value='Lugar 4')

                    input(list='category' name='category' placeholder="Elige Categoría" class='ml-6')
                    datalist(id='category')
                       option(value='Restaruantes')
                       option(value='Hoteles')
                       option(value='Ecolodge')
                       option(value='Tours')
                       option(value='Souvenirs')

                    h4 Busca tu pasaje:
                    input(type="checkbox" id="bus_checkbox" value="first_checkbox")
                    label(for="bus_checkbox") Ya tengo pasaje
                    button(class='btn btn-warning' id='bus')
                        h5 Bus
                        div
                    h4 Busca un alojamiento:
                    input(type="checkbox" id="alojo_checkbox" value="first_checkbox")
                    label(for="alojo_checkbox") Ya tengo alojamiento
                    button(class='btn btn-warning' id='alojo')
                        h5 Alojo
                        div
                    a(href='') 
                        p Ver descuentos de la ciudad

                    