doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title= Tourstap
    link(rel='shortcut icon', href='assets/icon/faviicon.png', type='image/x-icon')
    link(href='assets/css/bootstrap.min.css', rel='stylesheet')
    link(href='assets/css/sanfrancisco-font.css', rel='stylesheet')
    link(href='assets/css/main.css', rel='stylesheet')
  body
    section()
      div(class='col-xs-8 bg-login')
        div(class='')
          p Una nueva manera de ver los viajes te espera. No es una red social, no es un simple álbum de fotos, no es sólo una cuponera, no es un simple juego, es más que eso ... Es la fusión perfecta de todo lo que necesitas como viajero.Porque los peruanos somos creativos y tomamos lo mejor de todo, hoy te traemos una nueva manera de ver y hacer las cosas.
        div(class='')
          a(href='#')
            img(src='assets/icon/icon-facebook.png')
        div(class='')
          a(href='#')
            img(src='assets/icon/icon-pinterest.png')
        div(class='')
          a(href='#')
            img(src='assets/icon/icon-twitter.png')
      div(class='col-xs-4 text-center')
        div(class='logo-login')
        form(class='')
          p(class='mt-20') Escribe tu correo electrónico y te enviaremos un código para que puedas ingresar.
          input(type='email' name='email' placeholder='Correo electrónico' class='col-xs-12' required)
          input(type='submit' name='submit'  value='Enviar' class='btn-warning mt-40')