include head
	body
		section
			include navegador
			include perfil-contain
			div(class='col-sm-7')
				h4 modificar datos personales
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
		script(src='assets/js/owl.carousel.min.js')
		script(src='assets/js/main.js')
		
