doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title= Tourstap
    link(rel='shortcut icon', href='assets/icon/faviicon.png', type='image/x-icon')
    link(href='assets/css/bootstrap.min.css', rel='stylesheet')
    link(href='assets/css/sanfrancisco-font.css', rel='stylesheet')
    link(href='assets/css/main.css', rel='stylesheet')
    link(href='assets/css/owl.carousel.css', rel='stylesheet')