include head
    body
        section
            include navegador
            include puntos-tapcoin

        section
            iframe(src="https://www.google.com/maps/d/embed?mid=1PJiSov7sdGhzHs8UUw5R2kR3o3c" width="95.5%" height="87%" style="position: absolute; top: 20%;")