div(class='nav sidebar-nav')
    nav
        ul(class='navbar' role='navigation')
                    li
                        a
                            img(src='assets/icon/icono-perfil.png')
                            p  Perfil

                    li
                        a
                            img(src='assets/icon/icono-ranking.png')
                            p  Ranking
                    li
                        a
                            img(src='assets/icon/icono-descuentos.png')
                            p  Descuentos
                    li
                        a
                            img(src='assets/icon/icono-retos.png')
                            p  Retos
                    li
                        a
                            img(src='assets/icon/icono-ubicacion.png')
                            p  Ubicación
                    li
                        a
                            img(src='assets/icon/icono-web.png')

                    li
                        a
                            img(src='assets/icon/icono-bus-alojo.png')


