div(class='nav sidebar-nav')
    nav
        ul(class='navbar' role='navigation')
                a(href='#')    
                    li(class='icon-pd')
                            img(src='assets/icon/icono-perfil.png')
                            p  Perfil

                a(href='ranking.html')    
                    li
                            img(src='assets/icon/icono-ranking.png')
                            p  Ranking
                a(href='descuentos.html')    
                    li
                            img(src='assets/icon/icono-descuentos.png')
                            p  Descuentos
                a(href='rutas.html')    
                    li
                            img(src='assets/icon/icono-retos.png')
                            p  Rutas
                a(href='mapa.html')
                    li(class='icon-pd')
                            img(src='assets/icon/icono-ubicacion.png')
                            p  Mapa
                a(href='http://tourstap.com/' )    
                    li(class='icon web')
                            img(src='assets/icon/icono-web.png')

                a(href='bus-alojo.html' class='icon')   
                    li(class='icon')
                            img(src='assets/icon/icono-bus-alojo.png')


