div(class='nav sidebar-nav')
    nav
        ul(class='navbar' role='navigation')
                a(href='#')    
                    li(class='icon-pd')
                            img(src='assets/icon/icono-perfil.png')
                            p  Perfil

                a(href='#')    
                    li
                            img(src='assets/icon/icono-ranking.png')
                            p  Ranking
                a(href='#')    
                    li
                            img(src='assets/icon/icono-descuentos.png')
                            p  Descuentos
                a(href='#')    
                    li
                            img(src='assets/icon/icono-retos.png')
                            p  Retos
                a(href='#')
                    li(class='icon-pd')
                            img(src='assets/icon/icono-ubicacion.png')
                            p  Ubicación
                a(href='#' )    
                    li(class='icon web')
                            img(src='assets/icon/icono-web.png')

                a(href='#' class='icon')   
                    li(class='icon')
                            img(src='assets/icon/icono-bus-alojo.png')


