div(class='col-sm-4 bg-perfil text-center')
            a(href='#')
                div(class='icon')
                    img(src='assets/icon/icono-edicion.png' class='')
            a(href='#')            
                div(class='icon compartir') 
                    img(src='assets/icon/icono-compartir.png' class='')
            img(src='assets/icon/foto-perfil.png' class='foto')
            h3 Reiyel Wood
            img(src='assets/icon/icono-posicion-ranking.png' class='')
            p Puntos: 200pts
            p Tapcoin: 200
            p Posición en ranking: 3
            div
                h4 Tus cupones canjeados
            div(class='slide-descuentos')
                a(class='item')
                    div()
                    img(src='assets/icon/caja-descuentos.png' )
                a(class='item')
                    div()
                    img(src='assets/icon/caja-descuentos.png' )
                a(class='item')
                    div()
                    img(src='assets/icon/caja-descuentos.png' )
                a(class='item')
                    div()
                    img(src='assets/icon/caja-descuentos.png' )
                a(class='item')
                    div()
                    img(src='assets/icon/caja-descuentos.png' )
                a(class='item')
                    div()
                    img(src='assets/icon/caja-descuentos.png' )
            div
            a(href='#' class='salir')    
                div()
                p() Salir