div(class='col-sm-4 bg-perfil text-center')
            div(class='icon')
                a
                    img(src='assets/icon/icono-edicion.png' class='')
            div(class='icon compartir') 
                a
                    img(src='assets/icon/icono-compartir.png' class='')
            img(src='assets/icon/foto-perfil.png' class='foto')
            h3 Reiyel Wood
            img(src='assets/icon/icono-posicion-ranking.png' class='')
            p Puntos: 200pts
            p Tapcoin: 200
            p Posición en ranking: 3
            div
                h4 Tus cupones canjeados
            div(class='slide-descuentos')
                img(src='assets/icon/caja-descuentos.png' class='item')
                img(src='assets/icon/caja-descuentos.png' class='item')
                img(src='assets/icon/caja-descuentos.png' class='item')
                img(src='assets/icon/caja-descuentos.png' class='item')
                img(src='assets/icon/caja-descuentos.png' class='item')
                img(src='assets/icon/caja-descuentos.png' class='item')
            div
            div(class='icon-salir')
            p(class='salir') Salir