include head
    body(onLoad='')
        section
            include navegador
            include perfil-contain
            include puntos-tapcoin
            section(class='ranking')
                div(class='')
                    div(class='col-sm-7 mt-12 text-center mb-5')
                        h3 Viajeros
                    div(class='collage col-sm-7 pl-5')
                        a(href='#')
                            span(class='gold')
                            div(class='hex initial')
                        a(href='#')
                            span(class='gold')
                            div(class='hex initial')
                        a(href='#')
                            span(class='gold')
                            div(class='hex initial')
                        a(href='#')
                            span(class='gold')
                            div(class='hex initial')
                        a(href='#')
                            span(class='gold')
                            div(class='hex initial')
                        a(href='#')
                            span(class='gold')
                            div(class='hex initial')
                        a(href='#')
                            span(class='silver left')
                            div(class='hex relative-1')
                        a(href='#')
                            span(class='silver')
                            div(class='hex relative-1')
                        a(href='#')
                            span(class='silver')
                            div(class='hex relative-1')
                        a(href='#')
                            span(class='silver')
                            div(class='hex relative-1')
                        a(href='#')
                            span(class='silver')
                            div(class='hex relative-1 mr-5')
                        a(href='#')
                            span(class='bronze left')
                            div(class='hex relative-2')
                        a(href='#')
                            span(class='bronze')
                            div(class='hex relative-2')
                        a(href='#')
                            span(class='bronze')
                            div(class='hex relative-2')
                        a(href='#')
                            span(class='bronze')
                            div(class='hex relative-2')
                        a(href='#')
                            span(class='bronze ')
                            div(class='hex relative-2')
                        a(href='#')
                            span(class='bronze')
                            div(class='hex relative-2')
                         a(href='#')
                            div(class='hex relative-1')
                        a(href='#')
                            div(class='hex relative-1')
                        a(href='#')
                            div(class='hex relative-1')
                        a(href='#')
                            div(class='hex relative-1')
                        a(href='#')
                            div(class='hex relative-1 mr-5')
                        a(href='#')
                            div(class='hex relative-2')
                        a(href='#')
                            div(class='hex relative-2')
                        a(href='#')
                            div(class='hex relative-2')
                        a(href='#')
                            div(class='hex relative-2')
                        a(href='#')
                            div(class='hex relative-2')
                        a(href='#')
                            div(class='hex relative-2')
                         a(href='#')
                            div(class='hex relative-1')
                        a(href='#')
                            div(class='hex relative-1')
                        a(href='#')
                            div(class='hex relative-1')
                        a(href='#')
                            div(class='hex relative-1')
                        a(href='#')
                            div(class='hex relative-1 mr-5')
                       
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
        script(src='assets/js/owl.carousel.min.js')
        script(src='assets/js/main.js')