include head
	body
		section
			include navegador
			include puntos-tapcoin
		section(class='retos')
			div
				div(class='col-sm-3')
					div(class='box')
						p Ahora solo debes cumplir los seis retos que se presentan en esta ruta, de esta manera ganarás coins para que los puedas canjear por descuentos
				div(class='col-sm-8')
					div(class='title')
						h1 Ruta Aventura
								span -Ica-
					div(class='hex r1')
						p Selfie en bote en las islas ballestas
						span 20pts
					div(class='hex r1')
						p Selfie en bote en las islas ballestas
						span 20pts
					div(class='hex r3')
						p Selfie Sandboard
						span 20pts
					div(class='hex r4')
						p Selfie con un amigo en la ciudad
						span 20pts
					div(class='hex r5')
						p Selfie en las dunas
						span 20pts
					div(class='hex r6')
						p Selfie tomando pisco
						span 20pts