include head
    body(onLoad='fotoSelfie(1), fotoSelfie(2), fotoSelfie(3), fotoSelfie(4), fotoSelfie(5), fotoSelfie(6)')
        section
            include navegador
            include puntos-tapcoin
        section(class='retos')
            div
                div(class='col-sm-3')
                    div(class='box')
                        p Ahora solo debes cumplir los seis retos que se presentan en esta ruta, de esta manera ganarás coins para que los puedas canjear por descuentos
                div(class='col-sm-8')
                    div(class='title')
                        h1 Ruta Aventura
                                span -Ica-
                    div(class='hex r1')
                        p Selfie en bote en las islas ballestas
                        span 20pts
                        img(class="profile-pic" id='profilePic1' src="")
                        div(class="upload-button" id="uploadButton1") Selfie
                        input(class="file-upload" id='fileUpload1' type="file" accept="image/*")

                    div(class='hex r1')
                        p Selfie en bote en las islas ballestas
                        span 20pts
                        img(class="profile-pic" src="")
                        div(class="upload-button" id="uploadButton2") Selfie
                        input(class="file-upload" id='fileUpload2' type="file" accept="image/*")
                    div(class='hex r3')
                        p Selfie Sandboard
                        span 20pts
                        img(class="profile-pic" src="")
                        div(class="upload-button" id="uploadButton3") Selfie
                        input(class="file-upload" id='fileUpload3' type="file" accept="image/*")
                    div(class='hex r4')
                        p Selfie con un amigo en la ciudad
                        span 20pts
                        img(class="profile-pic" src="")
                        div(class="upload-button" id="uploadButton4") Selfie
                        input(class="file-upload" id='fileUpload4' type="file" accept="image/*")
                    div(class='hex r5')
                        p Selfie en las dunas
                        span 20pts
                        img(class="profile-pic" src="")
                        div(class="upload-button" id='uploadButton5') Selfie
                        input(class="file-upload" type="file" id='fileUpload5' name='selfie' accept="image/*")
                    div(class='hex r6')
                        p Selfie tomando pisco
                        span 20pts
                        img(class="profile-pic" src="")
                        div(class="upload-button" id="uploadButton6") Selfie
                        input(class="file-upload" id='fileUpload6' type="file" accept="image/*")

        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
        script(src='assets/js/owl.carousel.min.js')
        script(src='assets/js/main.js')