include head
	body
		section
			include navegador
			include puntos-tapcoin
			div(class='col-sm-11 rutas' id='rutas')

				p Escoge una ruta y conforme lo vayas cumpliendo, te daremos puntos para tu ranking y coins para que los puedas canjear por descuentos.