include head
	body
		section
			include navegador
			include puntos-tapcoin
		section(class='col-sm-11 rutas')
			div(class='col-sm-11')
				p Escoge una ruta y conforme lo vayas cumpliendo, te daremos puntos para tu ranking y coins para que los puedas canjear por descuentos.
			div(class='col-sm-10')
				a(href='#')
					div(class='hex')
						h2 Ruta Culinaria
							span -Ica-
				a(href='#')
					div(class='hex')
						h2 Ruta Culinaria
							span -Ica-
				a(href='#')
					div(class='hex')
						h2 Ruta Culinaria
							span -Ica-
				a(href='#')
					div(class='hex')
						h2 Ruta Culinaria
							span -Ica-
				a(href='#')
					div(class='hex ml relative')
						h2 Ruta Culinaria
							span -Ica-
				a(href='#')
					div(class='hex relative')
						h2 Ruta Culinaria
							span -Ica-
				a(href='#')
					div(class='hex relative')
						h2 Ruta Culinaria
							span -Ica-
				a(href='#')
					div(class='hex relative')
						h2 Ruta Culinaria
							span -Ica-
		section
			div(class="container")
				div(class="col-xs-12")
					div(class="leyenda-rutas col-xs-3")
						div(class="col-xs-8 inactiva")
						p Ruta Inactiva
						div(class="col-xs-8 activa")
						p Ruta Activa
						div(class="col-xs-8 quieroir")
						p Quiero ir
				