include head
	body
		section
			include navegador
			include puntos-tapcoin
		section(class='col-sm-11 rutas')
			div(class='col-sm-11')
				p Escoge una ruta y conforme lo vayas cumpliendo, te daremos puntos para tu ranking y coins para que los puedas canjear por descuentos.
			div(class='col-sm-11')
				a(href='#')
					div(class='hex')
				a(href='#')
					div(class='hex')
				a(href='#')
					div(class='hex')
				a(href='#')
					div(class='hex')
				