body 
    font-family "san francisco"!important
    font-weight 500!important 
    p 
        font-size 15px
        
/*login*/
.bg-login
    padding-left: 0px;
    background-image url("../img/bg-login.jpg")
    height 850px
    background-repeat no-repeat
    background-size cover
    
    div
        background-size contain
        background-repeat no-repeat
        background-image url("../icon/hex-texto.png")
        &:nth-child(1)
            margin-top 5%
            width 385px
            height 385px
            
                
            p
                top 24%
                padding 0% 21% 0% 12%
                position relative
            
            
        &:nth-child(2)
            position absolute
            top 8.5%
            left 35%
            width 60px
            height 60px
            
            @media screen and (max-width:1024px)
                top 7% !important
                left 46% !important
            img
                position relative
                left 32%
                top 24%
        &:nth-child(3)
                position absolute
                top 15%
                left 38.5%
                width 60px
                height 60px
                
                @media screen and (max-width:1024px)
                    top 13.5% !important
                    left 50.5% !important
                img
                    position relative
                    left 27%
                    top 24%
        &:nth-child(4)
                position absolute
                top 8.5%
                left 42%
                width 60px
                height 60px
                @media screen and (max-width:1024px)
                    top 7% !important
                    left 55% !important
                img
                    position relative
                    left 20%
                    top 32%
.logo-login
    background-image url("../icon/logo.png")
    width 35%
    height 195px
    background-size contain
    background-repeat no-repeat
    margin 28% 0% 0% 32%
       
.col-xs-4.text-center
    h1
       font-size 21px
       margin 16% 0% 0% 0%
       font-weight 600
       color black
       
    form
        padding 0% 14% 0% 14%
        // margin 5% 0%
    
    a
        color black
        font-size 16px
        font-weight 600
        
        p.mt 
            margin-top 12%
            
    input[type="submit"]
        padding 1% 12%
        margin-bottom 5%
        &:active
            background-color #8a562a
        &:hover
            background-color #8a562a
            background -moz-linear-gradient(top, #d6a610 0%, #9b7808 78%)
            background linear-gradient(to bottom, #d6a610 0%,#9b7808 78%)
            background -webkit-linear-gradient(top, #d6a610 0%,#9b7808 78%) /* Chrome10-25,Safari5.1-6 */
                   

input
    border-radius 4px
    border 0px
    padding 2% 3%
    background-color #e2e1e1
    font-size 16px
    margin-top 14%

/*contraseña olvidada*/

.mt-20
    margin-top 20%
    
.mt-40
    margin-top 40%
    
/*registro*/

.bg-registro
    background-image url("../img/bg-registro.jpg")
    height 900px
    background-repeat no-repeat
    background-size cover
    
    .logo
        background-image url("../icon/logo-blanco.png")
        width 55%
        height 200px
        background-size contain
        background-repeat no-repeat
        margin-top 45%
        margin-bottom 10%
        
    .text-center
        background-color rgba(205, 163, 29, 0.82)
    form
        div
            &:nth-child(5)
                    padding-left: 8px;
                    padding-right: 21px
        h1
            font-size 21px
            color white
            margin-top 5%
        span
            font-size 25px
            padding-left 1px
            color black
        input
            width 95%
            background-color white
            margin-top 11%
        .space
            position relative
            left 7%
        input[type="submit"]
            width auto
            padding 0.5% 10%
            margin 9% 0%
            background-color #494a4b
            color white
            &:active
                background-color black
            &:hover
                background-color #494a4b
                background -moz-linear-gradient(top, #979797 0%, #0d0d0d 78%)
                background linear-gradient(to bottom, #979797 0%,#0d0d0d 78%)
                background -webkit-linear-gradient(top, #979797 0%,#0d0d0d 78%)