body {
  font-family: "san francisco" !important;
  font-weight: 500 !important;
}
body p {
  font-size: 15px;
}
/*login*/
.bg-login {
  padding-left: 0px;
  background-image: url("../img/bg-login.jpg");
  height: 850px;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-login div {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../icon/hex-texto.png");
}
.bg-login div:nth-child(1) {
  margin-top: 5%;
  width: 385px;
  height: 385px;
}
.bg-login div:nth-child(1) p {
  top: 24%;
  padding: 0% 21% 0% 12%;
  position: relative;
}
.bg-login div:nth-child(2) {
  position: absolute;
  top: 8.5%;
  left: 35%;
  width: 60px;
  height: 60px;
}
@media screen and (max-width: 1024px) {
  .bg-login div:nth-child(2) {
    top: 7% !important;
    left: 46% !important;
  }
}
.bg-login div:nth-child(2) img {
  position: relative;
  left: 32%;
  top: 24%;
}
.bg-login div:nth-child(3) {
  position: absolute;
  top: 15%;
  left: 38.5%;
  width: 60px;
  height: 60px;
}
@media screen and (max-width: 1024px) {
  .bg-login div:nth-child(3) {
    top: 13.5% !important;
    left: 50.5% !important;
  }
}
.bg-login div:nth-child(3) img {
  position: relative;
  left: 27%;
  top: 24%;
}
.bg-login div:nth-child(4) {
  position: absolute;
  top: 8.5%;
  left: 42%;
  width: 60px;
  height: 60px;
}
@media screen and (max-width: 1024px) {
  .bg-login div:nth-child(4) {
    top: 7% !important;
    left: 55% !important;
  }
}
.bg-login div:nth-child(4) img {
  position: relative;
  left: 20%;
  top: 32%;
}
.logo-login {
  background-image: url("../icon/logo.png");
  width: 35%;
  height: 195px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 28% 0% 0% 32%;
}
.col-xs-4.text-center h1 {
  font-size: 21px;
  margin: 16% 0% 0% 0%;
  font-weight: 600;
  color: #000;
}
.col-xs-4.text-center form {
  padding: 0% 14% 0% 14%;
}
.col-xs-4.text-center a {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}
.col-xs-4.text-center a p.mt {
  margin-top: 12%;
}
.col-xs-4.text-center input[type="submit"] {
  padding: 1% 12%;
  margin-bottom: 5%;
}
.col-xs-4.text-center input[type="submit"]:active {
  background-color: #8a562a;
}
.col-xs-4.text-center input[type="submit"]:hover {
  background-color: #8a562a;
  background: -moz-linear-gradient(top, #d6a610 0%, #9b7808 78%);
  background: linear-gradient(to bottom, #d6a610 0%, #9b7808 78%);
  background: -webkit-linear-gradient(top, #d6a610 0%, #9b7808 78%) /* Chrome10-25,Safari5.1-6 */;
}
input {
  border-radius: 4px;
  border: 0px;
  padding: 2% 3%;
  background-color: #e2e1e1;
  font-size: 16px;
  margin-top: 14%;
}
/*contraseña olvidada*/
.mt-20 {
  margin-top: 20%;
}
.mt-40 {
  margin-top: 40%;
}
/*registro*/
.bg-registro {
  background-image: url("../img/bg-registro.jpg");
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-registro .logo {
  background-image: url("../icon/logo-blanco.png");
  width: 55%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 45%;
  margin-bottom: 10%;
}
.bg-registro .text-center {
  background-color: rgba(205,163,29,0.82);
}
.bg-registro form div:nth-child(5) {
  padding-left: 8px;
  padding-right: 21px;
}
.bg-registro form h1 {
  font-size: 21px;
  color: #fff;
  margin-top: 5%;
}
.bg-registro form span {
  font-size: 25px;
  padding-left: 1px;
  color: #000;
}
.bg-registro form input {
  width: 95%;
  background-color: #fff;
  margin-top: 11%;
}
.bg-registro form .space {
  position: relative;
  left: 7%;
}
.bg-registro form input[type="submit"] {
  width: auto;
  padding: 0.5% 10%;
  margin: 9% 0%;
  background-color: #494a4b;
  color: #fff;
}
